<div style="background-color: #E8E8E8;">
  <nav class="navbar navbar-expand-lg" style="background-color: #2D2F31;" *ngIf="isVideo">
    <div class="container-fluid">
      <a class="navbar-brand text-white"><span
          style="border-right: 2px solid white; padding-right: 12px;font-weight: bold;">MultaqaTech</span><span
          style=" padding-left: 12px;">{{videoData?.title}}</span> : {{videoData?.description}}</a>

    </div>
  </nav>
  <nav class="navbar navbar-expand-lg" style="background-color: #2D2F31;" *ngIf="!isVideo">
    <div class="container-fluid">
      <a class="navbar-brand text-white"><span
          style="border-right: 2px solid white; padding-right: 12px;font-weight: bold;">MultaqaTech</span><span
          style=" padding-left: 12px;">{{quizDetails?.title}}</span> : {{quizDetails?.description}}</a>

    </div>
  </nav>
  <div>
    <div class="flex-row">
      <div class="col-full col-medium-10" style="border-right: 3px #D1D7DC solid;">
        <div *ngIf="isVideo">
          <div class="w-100">
            <video class="w-100 h-100" [src]="videoData?.videoUrl" controls></video>
          </div>
          <div class="p-7">
            <div class="d-flex mb-2">
              <h3 class="me-4">Transcription :</h3>
              <div *ngIf="transcriptionLoadingBool" class="loader"></div>
            </div>
            <p *ngIf="!transcriptionLoadingBool" class="lead p-3">{{extractedText}}</p>
          </div>
          <div class="px-7">
            <div style="border-bottom: 2px solid #DCE1E5 ;font-size: 16px;" class="px-10">
              <ul class="d-flex align-items-center">
                <li class="p-3" routerLink="notes" routerLinkActive="selected">
                  <p>Notes</p>
                </li>
                <li class="p-3" routerLink="questions" routerLinkActive="selected">
                  <p>Questions</p>
                </li>
                <li class="p-3" routerLink="Illustration" routerLinkActive="selected">
                  <p>Illustration</p>
                </li>
                <li class="p-3" routerLink="summary" routerLinkActive="selected">
                  <p>Summary</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
      <div class="col-medium-2">
        <div class="elements">
          <div class="element" *ngFor="let section of courseSections;let index=index"
            style="border-bottom: 1px #2D2F31 solid;">
            <div class="header d-flex justify-content-between align-items-center" (click)="toggleCourseItems(index)"
              style="font-weight: bold;">
              <div class="py-2">
                <p class="my-0 py-0"><span class="p-3">{{section?.title}}</span></p>
                <p class="my-0 py-0"><span class="p-3">{{section?.objectives?.substring(0, 16)}}</span></p>
              </div>
              <div class="me-10">
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
            </div>
            <div class="courseitems" [class.d-block]="isCourseItemVisible[index]">
              <div class="item" *ngFor="let item of courseSectionsDetails[index]">
                <p class="addhover" *ngIf="item.itemType=='Quiz'" routerLink="quiz" (click)="displayQuiz(item.id)"> <span
                    class="p-3"><input type="checkbox" [checked]="item.isCompleted" disabled> {{item?.title}}</span></p>
                <p class="addhover" *ngIf="item.itemType=='Lecture'" routerLink="notes"
                  [ngClass]="{'activeItem': item.id == videoId}" (click)="displayVideo(item.id)"><span class="p-3"><span
                      class="me-3"><i class="fa-solid fa-video"></i></span><input type="checkbox" [checked]="item.isCompleted" disabled> {{item?.title}}</span></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
