 .flex-row {
   display: flex;
   flex-wrap: wrap;
 }

 .col-full {
   width: 100%;
 }

 .col-medium-10 {
   width: 100%;
   /* Default to full width on small screens */
 }

 .col-medium-2 {
   width: 100%;
   display: none;
   overflow-y: auto;
   max-height: calc(100vh - 40px);
   top: 40px;
   z-index: 10;
    scrollbar-width: none;
 }

 /* Media Query for Medium Screens and Up */
 @media (min-width: 768px) {
   .col-medium-10 {
     width: 83.3333%;
     /* 10/12 columns */
   }

   .col-medium-2 {
     width: 16.6667%;
     /* 2/12 columns */
     display: block;
     /* Show on medium screens and up */
   }
 }


.header:hover {
   cursor: pointer;
 }

 ul,
 li {
   list-style-type: none;
   /* Removes bullet points */
   margin: 0;
   /* Resets the margin */
   padding: 0;
   /* Resets the padding */
 }

 ul,
 li {
   list-style-type: none !important;
   cursor: pointer;
 }
.courseitems {
  display: none;
}
.selected {
  border-bottom: 2px solid black;
  font-weight: bold;
}
.activeItem {
  background-color: #D1D7DC;
}
.addhover:hover {
  cursor: pointer;
  background-color: #D1D7DC;
}


/* loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/4) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}
.fa-arrow-right {
  background: var(--secondary-color);
  padding: 4px;
  border-radius: 100%;
  font-size: 1.5rem;
  color: var(--main-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  animation: moveLeft 0.2s forwards;
}

@keyframes moveLeft {
  from {
    transform: translate(10px);
  }

  to {
    transform: translate(0);
  }
}
