<!-- Dashboard Nav Start -->
<div class="dashboard-nav offcanvas offcanvas-start w-25 mx-1" id="offcanvasDashboard">


      <!-- Dashboard Nav Wrapper Start -->
      <div class="dashboard-nav__wrapper w-100">
        <!-- Dashboard Nav Header Start -->
        <div class="offcanvas-header dashboard-nav__header dashboard-nav-header">

          <div class="dashboard-nav__toggle d-xl-none">
            <button class="toggle-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
          </div>

          <div class="dashboard-nav__logo">
            <a class="logo" routerLink="/home"><img src="assets/images/dark-logo.png" alt="Logo" width="148" height="62"></a>
          </div>

        </div>
        <!-- Dashboard Nav Header End -->

        <!-- Dashboard Nav Content Start -->
        <div class="offcanvas-body dashboard-nav__content navScroll">

          <!-- Dashboard Nav Menu Start -->
          <div class="dashboard-nav__menu">
            <ul class="dashboard-nav__menu-list">
              <li>
                <a routerLinkActive="activelink" routerLink="dashboard">
                  <i class="edumi edumi-layers"></i>
                  <span class="text ">Dashboard</span>
                </a>
              </li>
              <li>
                <a routerLinkActive="activelink" routerLink="myprofile">
                  <i class="edumi edumi-follower"></i>
                  <span class="text">My Profile</span>
                </a>
              </li>
              <li>
                <a routerLinkActive="activelink" routerLink="enrolledcourses">
                  <i class="edumi edumi-open-book"></i>
                  <span class="text">Enrolled Courses</span>
                </a>
              </li>

              <li>
                <a routerLinkActive="activelink" routerLink="purchasehistory">
                  <i class="edumi edumi-shopping-cart"></i>
                  <span class="text">Purchase History</span>
                </a>
              </li>
            </ul>
            <ul *ngIf="currentUser?.isInstructor" class="dashboard-nav__menu-list">
              <li>
                <span class="dashboard-nav__title">Instructor</span>
              </li>
              <li>
                <a routerLinkActive="activelink" routerLink="mycourses">
                  <i class="edumi edumi-youtuber"></i>
                  <span class="text">My Courses</span>
                </a>
              </li>

            </ul>
            <ul class="dashboard-nav__menu-list">
              <li>
                <span class="dashboard-nav__title">Admin</span>
              </li>
              <li>
                <a routerLinkActive="activelink" routerLink="subjects">
                  <i class="fa-solid fa-book icons"></i>
                  <span class="text">Subjects</span>
                </a>
              </li>
              <li>
                <a routerLinkActive="activelink" routerLink="categories">
                  <i class="fa-solid fa-microchip icons"></i>
                  <span class="text">Courses Categories</span>
                </a>
              </li>
              <li>
                <a routerLinkActive="activelink" routerLink="Meetingscategories">
                  <i class="fa-solid fa-z icons"></i>
                  <span class="text">Meeting Categories</span>
                </a>
              </li>
              <li>
                <a routerLinkActive="activelink" routerLink="Eventscategories">
                  <i class="fa-solid fa-calendar-days icons"></i>
                  <span class="text">Events Categories</span>
                </a>
              </li>
              <li>
                <a routerLinkActive="activelink" routerLink="Eventscountries">
                  <i class="fa-solid fa-earth-americas icons"></i>
                  <span class="text">Events Countries</span>
                </a>
              </li>
            </ul>
            <ul class="dashboard-nav__menu-list">
              <li>
                <a routerLinkActive="activelink" routerLink="settings">
                  <i class="edumi edumi-settings"></i>
                  <span class="text">Settings</span>
                </a>
              </li>
              <li>
                <a  (click)="logout()">
                  <i class="edumi edumi-sign-out"></i>
                  <span class="text">Logout</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- Dashboard Nav Menu End -->

        </div>
        <!-- Dashboard Nav Content End -->

        <div class="offcanvas-footer"></div>
      </div>
      <!-- Dashboard Nav Wrapper End -->


</div>
<!-- Dashboard Nav End -->

<!-- Dashboard Menu Start -->
<div class="dashboard-menu">

  <!-- Dashboard Menu Close Start -->
  <div class="dashboard-menu__close">
    <button class="close-btn" (click)="toggleMenu()"><i class="fas fa-times"></i></button>
  </div>
  <!-- Dashboard Menu Close End -->

  <!-- Dashboard Menu Content Start -->
  <div class="dashboard-menu__content">
    <div class="dashboard-menu__image">
      <img src="assets/images/canvas-menu-image.png" alt="Images" width="984" height="692">
    </div>
    <div class="dashboard-menu__main-menu">
      <ul class="dashboard-menu__menu-link">
        <li><a routerLink="/home" >Home</a></li>
        <li><a routerLink="/courses">Courses</a></li>
        <li><a routerLink="/events">Events</a></li>
        <li><a routerLink="/blogs">Blog</a></li>
        <li><a routerLink="/zooms">Meetings</a></li>
      </ul>
      <!--
      <div class="dashboard-menu__search">
        <form action="#">
          <input type="text" placeholder="Search…">
          <button class="search-btn"><i class="far fa-search"></i></button>
        </form>
      </div>
      -->
    </div>
  </div>
  <!-- Dashboard Menu Content End -->

</div>
<!-- Dashboard Menu End -->


    <!-- Dashboard Main Wrapper Start -->
    <main class="dashboard-main-wrapper">

      <!-- Dashboard Header Start -->
      <div class="row">
        <div class="col col-xl-3 col-xxl-1  "></div>
        <div class="col col-12 col-xl-9 col-xxl-11  ">
          <div class="dashboard-header">
          <div class="container">
            <!-- Dashboard Header Wrapper Start -->
            <div class="dashboard-header__wrap">

              <div class="dashboard-header__toggle-menu d-xl-none">
                <button class="toggle-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDashboard">
                  <svg width="20px" height="18px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path
                      d="M18.7179688,2.60581293 L1.28207031,2.60581293 C0.573828125,2.60581293 0,2.02491559 0,1.30798783 C0,0.591060076 0.573828125,0.0101231939 1.28207031,0.0101231939 L18.7179688,0.0101231939 C19.4261719,0.0101231939 20,0.591020532 20,1.30798783 C20,2.02495513 19.4261719,2.60581293 18.7179688,2.60581293 Z">
                    </path>
                    <path
                      d="M11.5384766,10.5957293 L1.28207031,10.5957293 C0.573828125,10.5957293 2.91322522e-13,10.0147924 2.91322522e-13,9.29786464 C2.91322522e-13,8.58093688 0.573828125,8 1.28207031,8 L11.5384766,8 C12.2466797,8 12.8205469,8.58089734 12.8205469,9.29786464 C12.8205469,10.0148319 12.2466797,10.5957293 11.5384766,10.5957293 Z">
                    </path>
                    <path
                      d="M18.7179688,17.6 L1.28207031,17.6 C0.573828125,17.6 0,17.0628683 0,16.4 C0,15.7371317 0.573828125,15.2 1.28207031,15.2 L18.7179688,15.2 C19.4261719,15.2 20,15.7370952 20,16.4 C20,17.0628683 19.4261719,17.6 18.7179688,17.6 Z">
                    </path>
                  </svg>
                </button>
              </div>

              <div class="dashboard-header__user">
                <div class="dashboard-header__user-avatar">
                  <img [src]="currentUser.profilePictureUrl" alt="Avatar" width="90" height="90">
                </div>
                <div class="dashboard-header__user-info">
                  <h4 class="dashboard-header__user-name" *ngIf="currentUser"><span class="welcome-text">Howdy,</span> {{currentUser.userName}}</h4>

                </div>
              </div>

              <div *ngIf="currentUser?.isInstructor" class="dashboard-header__btn">
                <a class="btn btn-outline-primary" (click)="getSubjects()" data-bs-toggle="modal" data-bs-target="#addCourse" ><i class="edumi edumi-content-writing"></i> <span class="text">Add
                    A New Course </span></a>
              </div>
              <div *ngIf="!currentUser?.isInstructor" class="dashboard-header__btn">
                <a class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#instructor" ><i class="edumi edumi-user"></i> <span class="text">Become An Instructor </span></a>
              </div>

              <div class="dashboard-header__toggle">
                <button class="btn btn-toggle" (click)="toggleMenu()"><i class="fas fa-bars"></i></button>
              </div>

            </div>
            <!-- Dashboard Header Wrapper End -->
          </div>
        </div>
          <div class="container">
            <router-outlet></router-outlet>
          </div>
      </div>
      </div>

      <!-- Dashboard Header End -->


<!-- add course form -->


<div class="modal fade" id="addCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Course</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset()"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="addCourseForm" (ngSubmit)="Addcourse()">
          <div class="row row-cols-6 row-cols-sm-auto">
            <div class="col w-50">
              <div class="input">
                <input formControlName="title" id="title" class="form-control" type="text"  autocomplete="off">
                <label class="required" for="title">Title</label>
            <span *ngIf="addCourseForm.get('title')?.touched">
              <p *ngIf="addCourseForm.get('title')?.getError('required')" class="text-danger ms-2 mb-0">required</p>
              <p *ngIf="addCourseForm.get('title')?.getError('minlength')" class="text-danger ms-2">Min Lenght is 3</p>
              <p *ngIf="addCourseForm.get('title')?.getError('maxlength')" class="text-danger ms-2">Max Lenght is 100</p>
            </span>
              </div>
            </div>
            <div class="col w-50">
              <div class="input">
                <input id="lang" formControlName="language" class="form-control" type="text"  autocomplete="off">
                <label class="required" for="lang">Lagnuage</label>
                  <span *ngIf="addCourseForm.get('language')?.touched">
                    <p *ngIf="addCourseForm.get('language')?.getError('minlength')" class="text-danger ms-2">Min Lenght is 3</p>
                    <p *ngIf="addCourseForm.get('language')?.getError('maxlength')" class="text-danger ms-2">Max Lenght is 50</p>
                  </span>
              </div>
            </div>
          </div>
        <div class="input">
          <input id="img" formControlName="img" class="form-control" type="file"  (change)="onImgChange($event)">
          <label class="pictureUrl required" for="pic">Upload Picture</label>
          <span *ngIf="addCourseForm.get('img')?.touched">
            <p *ngIf="addCourseForm.get('img')?.getError('required')" class="text-danger ms-2 mb-0">required</p>

          </span>
        </div>

          <div class="input mb-5">
           <div class=" position-relative mb-2">
            <input id="learningobjectives" formControlName="learningobjectives" class="form-control" type="text"
              autocomplete="off">
            <label for="learningobjectives">Learning Objectives</label>
            <button id="adder" (click)="learningObjectives()"><i class="fa-solid fa-plus"></i></button>
           </div>
            <div class="d-flex flex-wrap"><span *ngFor="let name of l_0bjects;let i=index"
                class="added py-1 px-2 ms-2 mb-2 d-flex align-items-center">{{name}} <a
                  (click)="deletefromarray(i,[],l_0bjects)"><i
                    class="fa-solid fa-xmark text-white ms-1 closemark"></i></a></span></div>
          </div>

          <div class="input mb-5">
            <input id="price" formControlName="price" class="form-control" type="number"  autocomplete="off">
            <label class="required" for="price">Price</label>
            <span *ngIf="addCourseForm.get('price')?.touched">
              <p *ngIf="addCourseForm.get('price')?.getError('required')" class="text-danger ms-2 mb-0">required</p>
              <p *ngIf="addCourseForm.get('price')?.getError('min')" class="text-danger ms-2">Min Price is 0</p>
              <p *ngIf="addCourseForm.get('price')?.getError('max')" class="text-danger ms-2">Max Price is 2147483647</p>
            </span>
          </div>

          <div class="input">
            <select  id="subject" formControlName="subject" class="form-select rounded-4 " aria-label="Default select example">
              <option  value="0">Subject <span class="text-danger">*</span></option>
              <option *ngFor="let subject of subjects ;let i=index" [value]="subject.id"  >{{subject.name}}</option>
            </select>
            <span *ngIf="addCourseForm.get('subject')?.touched">
              <p *ngIf="addCourseForm.get('subject')?.value=='0' " class="text-danger ms-2 mb-0">required</p>
            </span>
          </div>



          <div class="row row-cols-6 row-cols-sm-auto">
            <div class="col w-50"><div class="input">
              <select   (change)="tag()"  id="tags" formControlName="tags" class="form-select rounded-4" aria-label="Default select example">
                <option value="0">Tags <span class="text-danger">*</span></option>
                <option *ngFor="let  subject of subjects ;let i=index" [value]="subject.id" >{{subject.name}}</option>
              </select>
            </div>
            <div class="d-flex flex-wrap"><span *ngFor="let name of tagsNames ;let i =index" class="added py-1 px-2 me-1 mb-2 d-flex align-items-center">{{name}} <a (click)="deletefromarray(i,tags,tagsNames)" ><i class="fa-solid fa-xmark text-white ms-1 closemark"></i></a></span></div>
          </div>
            <div class="col w-50"><div class="input">
              <select  (change)="prerequisite()" id="prerequisites" formControlName="prerequisites" class="form-select rounded-4" aria-label="Default select example">
                <option value="0">Course Prerequisites <span class="text-danger">*</span></option>
                <option *ngFor="let subject of subjects ;let i=index" [value]="subject.id">{{subject.name}}</option>
              </select>
            </div>
            <div class="d-flex flex-wrap"><span *ngFor="let name of prerequisitesNames;let i=index" class="added py-1 px-2 me-1 mb-2 d-flex align-items-center">{{name}} <a (click)="deletefromarray(i,prerequisites,prerequisitesNames)"><i class="fa-solid fa-xmark text-white ms-1 closemark"></i></a></span></div>
          </div>
          </div>

          <!-- <span class="required fs-5 ">Levels </span> -->
          <div class="contain ms-1 my-3">
            <label><input formControlName="courselevel" value="0" type="radio" />All levels</label>
            <label><input formControlName="courselevel" value="1" type="radio" /> Beginner</label>
            <label><input formControlName="courselevel" value="2" type="radio" /> Intermediate</label>
            <label><input formControlName="courselevel" value="3" type="radio" /> Advanced</label>
          </div>
                <div class="modal-footer">
                  <p class="text-success me-auto d-block" *ngIf="successCourseBool">Course added Successful</p>
                  <p class="text-danger me-auto d-block" *ngIf="failCourseBool">Failed adding the course</p>
                  <p class="text-danger me-auto d-block" *ngIf="SubjectFailCourseBool">Please Add subject , tags and prerequiesties</p>
                  <button type="submit" class="btn btn-primary rounded-5" [disabled]="addCourseForm.invalid">Add Course</button>
                </div>
        </form>



      </div>

    </div>
  </div>
</div>
<!-- add course form -->

<!-- Instructor form -->

<div class="modal fade" id="instructor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Become An Instructor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="instructorForm" (ngSubmit)="addInstructor()">
            <div >
              <div class="input">
                <textarea id="bio"  class="form-control" formControlName="bio" required=""></textarea>
                <label class="required" for="bio">Bio</label>
            <span *ngIf="instructorForm.get('bio')?.touched">
              <p *ngIf="instructorForm.get('bio')?.getError('required')" class="text-danger ms-2 mb-0">required</p>
            </span>
              </div>
            </div>
            <div >
              <div class="input">
                <input id="lang" formControlName="jobtitle" class="form-control" type="text" required="" autocomplete="off">
                <label class="required" for="lang">Job Title</label>
                  <span *ngIf="instructorForm.get('jobtitle')?.touched">
              <p *ngIf="instructorForm.get('jobtitle')?.getError('required')" class="text-danger ms-2 mb-0">required</p>

                  </span>
              </div>
            </div>
            <div >
              <div class="input">
                <input id="pic" formControlName="picture" class="form-control" type="file" required="" (change)="onImgChange($event)">
                <label class="pictureUrl required" for="pic">Upload Picture</label>
                  <span *ngIf="instructorForm.get('picture')?.touched">
              <p *ngIf="instructorForm.get('picture')?.getError('required')" class="text-danger ms-2 mb-0">required</p>

                  </span>
              </div>
            </div>

                <div class="modal-footer">
                  <button type="submit" [disabled]="instructorForm.invalid" class="btn btn-primary rounded-5 fw-semibold fs-5" >Save</button>
                </div>
        </form>



      </div>

    </div>
  </div>
</div>
<!-- Instructor form -->





    </main>
    <!-- Dashboard Main Wrapper End -->

