// scrollbar start
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 7px;
  background: #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0071dc;
}
// scrollbar end


//links start
.activelink{
  background-color: #0071dc;
  color: white ;
  i {
      color: white;
    }

}

.activelink:hover{
  color: black;
  i {
      color: #0071dc
    }
}

//links end

// input subject start
.input {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  // max-width: 230px;
  position: relative;
  z-index: 1;
}

.input input,.input textarea  {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid #0071dc;
  background-color: white;
  border-radius: 20px;
  width: 100%;
}

.input .pictureUrl {
  position: absolute;
  right: 0;
}
.input label {
  font-size: 100%;
  position: absolute;
  top: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #0071dc;
}

.input :is(input:focus,textarea:focus,textarea:valid, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.2em 0.4em;
  background-color: white;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}



// input subject ends


// radio start
.contain {
  --s: 1em;
  /* control the size */
  --g: 10px;
  /* the gap */
  --c:#0071dc ;
  /* the active color */

  display: grid;
  grid-auto-rows: 1fr;
  gap: var(--g);
  position: relative;
}

.contain:before {
  content: "";
  position: absolute;
  height: calc(var(--s) / 2);
  left: calc(var(--s) / 4 + var(--_x, 0px));
  top: calc(var(--s) / 4);
  background: var(--c);
  border-radius: 50%;
  aspect-ratio: 1;
  transition: 0.4s, left cubic-bezier(0.1, -2000, 0.7, -2000) 0.4s;
}

.contain label {
  display: inline-flex;
  line-height: var(--s);
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.contain input {
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s) / 8) solid var(--_c, #939393);
  border-radius: 50%;
  outline-offset: calc(var(--s) / 10);
  padding: calc(var(--s) / 8);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  margin: 0;
  transition: 0.3s;
}

.contain input:checked {
  --_c: var(--c);
}

.contain:not(:has(input:checked)):before {
  --_i: -1;
  opacity: 0;
}

.contain:has(input:checked):before {
  opacity: 1;
  transform: translateY(calc(var(--_i) * (var(--s) + var(--g))));
}

.contain:has(label:nth-child(1) input:checked):before {
  --_i: 0;
  --_x: 0.02px;
}

.contain:has(label:nth-child(2) input:checked):before {
  --_i: 1;
  --_x: 0.04px;
}

.contain:has(label:nth-child(3) input:checked):before {
  --_i: 2;
  --_x: 0.06px;
}

.contain:has(label:nth-child(4) input:checked):before {
  --_i: 3;
  --_x: 0.08px;
}

.contain:has(label:nth-child(5) input:checked):before {
  --_i: 4;
  --_x: 0.1px;
}





@media print {
  input[type="radio"] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}

@supports not selector(:has(*)) {
  .contain:before {
    display: none;
  }

  .contain input:checked {
    --_c: var(--c);
    background: var(--c) content-box;
  }
}
// radio end

// icons style
.icons{
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 20px;
  transform:translateY(-50%) ;
  -webkit-transform:translateY(-50%) ;
  -moz-transform:translateY(-50%) ;
  -ms-transform:translateY(-50%) ;
  -o-transform:translateY(-50%) ;
  color: #0071dc;
}

.activelink .icons{
  color: white;
}

a:hover .icons{
  color: #0071dc;
}
// icons style

.added{
  font-size: 12px;
  color: white;
  background-color: #0071dc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.closemark{
  cursor: pointer;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
.closemark:hover{
  color: rgb(255, 45, 17) !important;
}

#adder{
  padding: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #0071dc;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
      right: 7px;
        top: 55%;
        transform: translateY(-49%);
}
#adder i{

}
#adder:hover{
background-color: #bcd6ed;
}

.required::after {
  content: "*";
  color: red;
}
