// scrollbar start
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 7px;
  background: #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0071dc;
}
// scrollbar end


//links start
.activelink{
  background-color: #0071dc;
  color: white ;
  i {
      color: white;
    }

}

.activelink:hover{
  color: black;
  i {
      color: #0071dc
    }
}

//links end
