<!-- Dashboard Content Start -->
<div class="dashboard-content">

  <div class="container">
    <h4 class="dashboard-title">Reviews</h4>

    <!-- Dashboard Reviews Start -->
    <div class="dashboard-reviews">

      <!-- Dashboard Review Item Start -->
      <div class="dashboard-review-item">
        <div class="dashboard-review-item__thumbnail">
          <img src="assets/images/courses/courses-14.jpg" alt="Courses" width="150" height="100">
        </div>
        <div class="dashboard-review-item__content">
          <div class="dashboard-review-item__title-wrap">
            <h2 class="dashboard-review-item__title"><span>Course: </span> <a href="#">Overview of Excercise</a></h2>
            <div class="dashboard-review-item__review-links">
              <a href="#"><i class="fas fa-pencil"></i><span>Edit Feedback</span></a>
            </div>
          </div>
          <div class="dashboard-review-item__rating">

            <div class="rating-star">
              <div class="rating-label" style="width: 100%;"></div>
            </div>

            <p>4 months ago</p>
          </div>
          <div class="dashboard-review-item__text">
            <p>Wow it's amazing !</p>
          </div>
        </div>
      </div>
      <!-- Dashboard Review Item End -->

      <!-- Dashboard Review Item Start -->
      <div class="dashboard-review-item">
        <div class="dashboard-review-item__thumbnail">
          <img src="assets/images/courses/courses-10.jpg" alt="Courses" width="150" height="100">
        </div>
        <div class="dashboard-review-item__content">
          <div class="dashboard-review-item__title-wrap">
            <h2 class="dashboard-review-item__title"><span>Course: </span> <a href="#">Adobe Lightroom For Beginners :
                Complete Photo/Image Editing</a></h2>
            <div class="dashboard-review-item__review-links">
              <a href="#"><i class="fas fa-pencil"></i><span>Edit Feedback</span></a>
            </div>
          </div>
          <div class="dashboard-review-item__rating">

            <div class="rating-star">
              <div class="rating-label" style="width: 100%;"></div>
            </div>

            <p>4 months ago</p>
          </div>
          <div class="dashboard-review-item__text">
            <p>Wow it's amazing !</p>
          </div>
        </div>
      </div>
      <!-- Dashboard Review Item End -->

      <!-- Dashboard Review Item Start -->
      <div class="dashboard-review-item">
        <div class="dashboard-review-item__thumbnail">
          <img src="assets/images/courses/courses-8.jpg" alt="Courses" width="150" height="100">
        </div>
        <div class="dashboard-review-item__content">
          <div class="dashboard-review-item__title-wrap">
            <h2 class="dashboard-review-item__title"><span>Course: </span> <a href="#">Introduction to Probability and
                Statistics</a></h2>
            <div class="dashboard-review-item__review-links">
              <a href="#"><i class="fas fa-pencil"></i><span>Edit Feedback</span></a>
            </div>
          </div>
          <div class="dashboard-review-item__rating">

            <div class="rating-star">
              <div class="rating-label" style="width: 100%;"></div>
            </div>

            <p>4 months ago</p>
          </div>
          <div class="dashboard-review-item__text">
            <p>Wow it's amazing !</p>
          </div>
        </div>
      </div>
      <!-- Dashboard Review Item End -->

      <!-- Dashboard Review Item Start -->
      <div class="dashboard-review-item">
        <div class="dashboard-review-item__thumbnail">
          <img src="assets/images/courses/courses-24.jpg" alt="Courses" width="150" height="100">
        </div>
        <div class="dashboard-review-item__content">
          <div class="dashboard-review-item__title-wrap">
            <h2 class="dashboard-review-item__title"><span>Course: </span> <a href="#">Español para españoles</a></h2>
            <div class="dashboard-review-item__review-links">
              <a href="#"><i class="fas fa-pencil"></i><span>Edit Feedback</span></a>
            </div>
          </div>
          <div class="dashboard-review-item__rating">

            <div class="rating-star">
              <div class="rating-label" style="width: 100%;"></div>
            </div>

            <p>4 months ago</p>
          </div>
          <div class="dashboard-review-item__text">
            <p>Wow it's amazing !</p>
          </div>
        </div>
      </div>
      <!-- Dashboard Review Item End -->

      <!-- Dashboard Review Item Start -->
      <div class="dashboard-review-item">
        <div class="dashboard-review-item__thumbnail">
          <img src="assets/images/courses/courses-22.jpg" alt="Courses" width="150" height="100">
        </div>
        <div class="dashboard-review-item__content">
          <div class="dashboard-review-item__title-wrap">
            <h2 class="dashboard-review-item__title"><span>Course: </span> <a href="#">Beginning Project Management:
                Project Management Level One</a></h2>
            <div class="dashboard-review-item__review-links">
              <a href="#"><i class="fas fa-pencil"></i><span>Edit Feedback</span></a>
            </div>
          </div>
          <div class="dashboard-review-item__rating">

            <div class="rating-star">
              <div class="rating-label" style="width: 100%;"></div>
            </div>

            <p>4 months ago</p>
          </div>
          <div class="dashboard-review-item__text">
            <p>Wow it's amazing !</p>
          </div>
        </div>
      </div>
      <!-- Dashboard Review Item End -->

      <!-- Dashboard Review Item Start -->
      <div class="dashboard-review-item">
        <div class="dashboard-review-item__thumbnail">
          <img src="assets/images/courses/courses-34.jpg" alt="Courses" width="150" height="100">
        </div>
        <div class="dashboard-review-item__content">
          <div class="dashboard-review-item__title-wrap">
            <h2 class="dashboard-review-item__title"><span>Course: </span> <a href="#">Time Management Mastery: Do More,
                Stress Less</a></h2>
            <div class="dashboard-review-item__review-links">
              <a href="#"><i class="fas fa-pencil"></i><span>Edit Feedback</span></a>
            </div>
          </div>
          <div class="dashboard-review-item__rating">

            <div class="rating-star">
              <div class="rating-label" style="width: 100%;"></div>
            </div>

            <p>4 months ago</p>
          </div>
          <div class="dashboard-review-item__text">
            <p>Wow it's amazing !</p>
          </div>
        </div>
      </div>
      <!-- Dashboard Review Item End -->

      <!-- Dashboard Review Item Start -->
      <div class="dashboard-review-item">
        <div class="dashboard-review-item__thumbnail">
          <img src="assets/images/courses/courses-4.jpg" alt="Courses" width="150" height="100">
        </div>
        <div class="dashboard-review-item__content">
          <div class="dashboard-review-item__title-wrap">
            <h2 class="dashboard-review-item__title"><span>Course: </span> <a href="#">Consulting Approach to Problem
                Solving</a></h2>
            <div class="dashboard-review-item__review-links">
              <a href="#"><i class="fas fa-pencil"></i><span>Edit Feedback</span></a>
            </div>
          </div>
          <div class="dashboard-review-item__rating">

            <div class="rating-star">
              <div class="rating-label" style="width: 100%;"></div>
            </div>

            <p>4 months ago</p>
          </div>
          <div class="dashboard-review-item__text">
            <p>Wow it's amazing !</p>
          </div>
        </div>
      </div>
      <!-- Dashboard Review Item End -->

      <!-- Dashboard Review Item Start -->
      <div class="dashboard-review-item">
        <div class="dashboard-review-item__thumbnail">
          <img src="assets/images/courses/courses-1.jpg" alt="Courses" width="150" height="100">
        </div>
        <div class="dashboard-review-item__content">
          <div class="dashboard-review-item__title-wrap">
            <h2 class="dashboard-review-item__title"><span>Course: </span> <a href="#">Successful Negotiation: Master
                Your Negotiating Skills</a></h2>
            <div class="dashboard-review-item__review-links">
              <a href="#"><i class="fas fa-pencil"></i><span>Edit Feedback</span></a>
            </div>
          </div>
          <div class="dashboard-review-item__rating">

            <div class="rating-star">
              <div class="rating-label" style="width: 100%;"></div>
            </div>

            <p>4 months ago</p>
          </div>
          <div class="dashboard-review-item__text">
            <p>Wow it's amazing !</p>
          </div>
        </div>
      </div>
      <!-- Dashboard Review Item End -->

    </div>
    <!-- Dashboard Reviews End -->
  </div>


</div>
<!-- Dashboard Content End -->
