<!-- Dashboard Content Start -->
<div class="dashboard-content">

  <div class="container">
    <h4 class="dashboard-title">Assignments</h4>

    <!-- Dashboard Assignments Start -->
    <div class="dashboard-assignments">
      <div class="dashboard-table table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="courses">Course Name</th>
              <th class="student">Total Mark</th>
              <th class="Total Submit">Course</th>
              <th class="action"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <h3 class="dashboard-table__title">Assignments</h3>
                <h3 class="dashboard-table__title"><a href="#">Course: Consulting Approach to Problem Solving</a></h3>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Mark</div>
                <div class="dashboard-table__text">10</div>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Submit</div>
                <div class="dashboard-table__text">0</div>
              </td>
              <td>
                <div class="dashboard-table__text">
                  <a class="assignment-link" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h3 class="dashboard-table__title">Assignments</h3>
                <h3 class="dashboard-table__title"><a href="#">Course: ENV 101: Introduction to Environmental
                    Science</a></h3>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Mark</div>
                <div class="dashboard-table__text">10</div>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Submit</div>
                <div class="dashboard-table__text">1</div>
              </td>
              <td>
                <div class="dashboard-table__text">
                  <a class="assignment-link" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h3 class="dashboard-table__title">Assignments</h3>
                <h3 class="dashboard-table__title"><a href="#">Course: Angular – The Complete Guide (2020 Edition)</a>
                </h3>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Mark</div>
                <div class="dashboard-table__text">10</div>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Submit</div>
                <div class="dashboard-table__text">1</div>
              </td>
              <td>
                <div class="dashboard-table__text">
                  <a class="assignment-link" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h3 class="dashboard-table__title">Assignments</h3>
                <h3 class="dashboard-table__title"><a href="#">Course: Become a Product Manager | Learn the Skills & Get
                    the Job</a></h3>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Mark</div>
                <div class="dashboard-table__text">10</div>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Submit</div>
                <div class="dashboard-table__text">0</div>
              </td>
              <td>
                <div class="dashboard-table__text">
                  <a class="assignment-link" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h3 class="dashboard-table__title">Assignments</h3>
                <h3 class="dashboard-table__title"><a href="#">Course: terst mihai Ghimciuc</a></h3>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Mark</div>
                <div class="dashboard-table__text">10</div>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Submit</div>
                <div class="dashboard-table__text">0</div>
              </td>
              <td>
                <div class="dashboard-table__text">
                  <a class="assignment-link" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h3 class="dashboard-table__title">Assignments</h3>
                <h3 class="dashboard-table__title"><a href="#">Course: Photography</a></h3>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Mark</div>
                <div class="dashboard-table__text">10</div>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Total Submit</div>
                <div class="dashboard-table__text">1</div>
              </td>
              <td>
                <div class="dashboard-table__text">
                  <a class="assignment-link" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Dashboard Assignments End -->
  </div>


</div>
<!-- Dashboard Content End -->

