
  <!-- Dashboard Content Start -->
  <div class="dashboard-content">

    <div class="container">
      <h4 class="dashboard-title">Dashboard</h4>

      <!-- Dashboard Info Start -->
      <div class="dashboard-info">
        <div class="row gy-2 gy-sm-6">
          <div class="col-md-4 col-sm-6">
            <!-- Dashboard Info Card Start -->
            <div class="dashboard-info__card">
              <a class="dashboard-info__card-box" href="#">
                <div class="dashboard-info__card-icon icon-color-01">
                  <i class="edumi edumi-open-book"></i>
                </div>
                <div class="dashboard-info__card-content">
                  <div class="dashboard-info__card-value">{{studentEnrolledCourses.length}}</div>
                  <div class="dashboard-info__card-heading">Enrolled Courses</div>
                </div>
              </a>
            </div>
            <!-- Dashboard Info Card End -->
          </div>
          <div class="col-md-4 col-sm-6">
            <!-- Dashboard Info Card Start -->
            <div class="dashboard-info__card">
              <a class="dashboard-info__card-box" href="#">
                <div class="dashboard-info__card-icon icon-color-02">
                  <i class="edumi edumi-streaming"></i>
                </div>
                <div class="dashboard-info__card-content">
                  <div class="dashboard-info__card-value">0</div>
                  <div class="dashboard-info__card-heading">Active Courses</div>
                </div>
              </a>
            </div>
            <!-- Dashboard Info Card End -->
          </div>
          <div class="col-md-4 col-sm-6">
            <!-- Dashboard Info Card Start -->
            <div class="dashboard-info__card">
              <a class="dashboard-info__card-box" href="#">
                <div class="dashboard-info__card-icon icon-color-03">
                  <i class="edumi edumi-correct"></i>
                </div>
                <div class="dashboard-info__card-content">
                  <div class="dashboard-info__card-value">27</div>
                  <div class="dashboard-info__card-heading">Completed Courses</div>
                </div>
              </a>
            </div>
            <!-- Dashboard Info Card End -->
          </div>

            <!-- Dashboard Info Card End -->

        </div>
      </div>
      <!-- Dashboard Info End -->
    </div>


  </div>
  <!-- Dashboard Content End -->


