<!-- Dashboard Content Start -->
<div class="dashboard-content">

  <div class="container">
    <h4 class="dashboard-title">Enrolled Courses</h4>

    <!-- Dashboard Course Start -->
    <div class="dashboard-course">

      <!-- Dashboard Tabs Start -->
      <div class="dashboard-tabs-menu">
        <ul>
          <li><a routerLinkActive="active" routerLink="allcources">All Courses</a></li>
          <li><a routerLinkActive="active" routerLink="activecources">Active Courses</a></li>
          <li><a routerLinkActive="active" routerLink="completedcources">Completed Courses</a></li>
        </ul>
      </div>
      <!-- Dashboard Tabs End -->

      <!-- Dashboard Course List Start -->
      <div class="dashboard-course-list">
        <router-outlet></router-outlet>

        <!-- Dashboard Course Item Start -->

        <!-- Dashboard Course Item End -->

      </div>
      <!-- Dashboard Course List End -->

    </div>
    <!-- Dashboard Course End -->
  </div>


</div>
<!-- Dashboard Content End -->
