<main class="main-wrapper">
  <!-- Page Banner Section Start -->
  <div class="page-banner bg-color-05">
    <div class="page-banner__wrapper">
      <div class="container">

        <!-- Page Breadcrumb Start -->
        <div class="page-breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">dashboard</a></li>
            <li class="breadcrumb-item active">Courses</li>
          </ul>
        </div>
        <!-- Page Breadcrumb End -->

        <!-- Page Banner Caption Start -->
        <div class="page-banner__caption text-center">
          <h2 class="page-banner__main-title">Curriculum</h2>
        </div>
        <!-- Page Banner Caption End -->

      </div>
    </div>
  </div>
  <!-- Page Banner Section End -->

  <!-- Offcanvas Start -->
  <div class="offcanvas offcanvas-end offcanvas-mobile" id="offcanvasMobileMenu"
    style="background-image: url(assets/images/mobile-bg.jpg);">
    <div class="offcanvas-header bg-white">
      <div class="offcanvas-logo">
        <a class="offcanvas-logo__logo" href="#"><img src="assets/images/dark-logo.png" alt="Logo"></a>
      </div>
      <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
    </div>

    <div class="offcanvas-body">
      <nav class="canvas-menu">
        <ul class="offcanvas-menu">
          <li><a class="active" routerLink="/home"><span>Home</span></a>

          </li>
          <li>
            <a class="active" routerLink="/courses" data-bs-dismiss="offcanvas"><span>Courses</span></a>

          </li>
          <li>
            <a class="active" routerLink="/blogs"><span>Blog</span></a>

          </li>
          <li>
            <a><span>Features</span></a>

          </li>


        </ul>
      </nav>
    </div>

  </div>
  <!-- Offcanvas End -->


<!-- curriculum start -->
<div class="container">
  <p class="fw-normal lead my-7">Start putting together your course by creating sections, lectures and quizzes. <br>
  Use your course outline to structure your content and label your sections and lectures clearly.
  </p>

  <!-- section start -->

  <div class="w-100 section" style="min-height: 20px;">
  <button class="btn btn-primary fs-5 fw-semibold "><i class="fa-solid fa-plus"></i> section</button>
  </div>
  <!-- section end -->
</div>
<!-- curriculum end -->

</main>
