<main class="main-wrapper container-bg py-3 h-auto">
  <!-- Page Banner Section Start -->
  <div class="page-banner bg-color-05">
    <div class="page-banner__wrapper">
      <div class="container">

        <!-- Page Breadcrumb Start -->
        <div class="page-breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">dashboard</a></li>
            <li class="breadcrumb-item active">Courses</li>
          </ul>
        </div>
        <!-- Page Breadcrumb End -->

        <!-- Page Banner Caption Start -->
        <div class="page-banner__caption text-center">
          <h2 class="page-banner__main-title">Curriculum</h2>
        </div>
        <!-- Page Banner Caption End -->

      </div>
    </div>
  </div>
  <!-- Page Banner Section End -->

  <!-- Offcanvas Start -->
  <div class="offcanvas offcanvas-end offcanvas-mobile" id="offcanvasMobileMenu"
    style="background-image: url(assets/images/mobile-bg.jpg);">
    <div class="offcanvas-header bg-white">
      <div class="offcanvas-logo">
        <a class="offcanvas-logo__logo" href="#"><img src="assets/images/dark-logo.png" alt="Logo"></a>
      </div>
      <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
    </div>

    <div class="offcanvas-body">
      <nav class="canvas-menu">
        <ul class="offcanvas-menu">
          <li><a class="active" routerLink="/home"><span>Home</span></a>

          </li>
          <li>
            <a class="active" routerLink="/courses" data-bs-dismiss="offcanvas"><span>Courses</span></a>

          </li>
          <li>
            <a class="active" routerLink="/blogs"><span>Blog</span></a>

          </li>
          <li>
            <a><span>Features</span></a>

          </li>


        </ul>
      </nav>
    </div>

  </div>
  <!-- Offcanvas End -->


<!-- curriculum start -->
<div class="container ">


  <!-- section start -->

  <div class="w-100 section my-10" style="min-height: 20px;background-color: white;">
    <p class="fw-medium fs-5 lead mt-5 mb-12">Start putting together your course by creating sections, lectures and quizzes. <br>
      Use your course outline to structure your content and label your sections and lectures clearly.
    </p>

    <!-- Display sections -->
  <div  class="droplist-section" (cdkDropListDropped)="drop($event)" cdkDropList>
      <div *ngFor="let section of sections ;let i =index;" class="example-box section section-content mb-15 px-15 pt-10"
        style="background-color: rgb(200, 223, 244);" cdkDrag>
        <div class="w-100 d-flex justify-content-between mb-5">
          <h4 class="w-75">Section {{i+1}} : <span class="fw-medium"><i class="fa-regular fa-file"></i>
              {{section.title}}</span></h4>
          <span class="fs-5">
            <a (click)="getSectionForUpdate(section.id)"><i class="fa-solid fa-pen-to-square edit"></i></a>
            <span class="m-3"></span>
            <a (click)="deleteSection(section.id)"><i class="fa-solid fa-trash delete"></i></a>
          </span>
        </div>
        <!-- item container start -->
        <div class="ps-15"  cdkDropList>

          <!-- items display -->
          <div *ngFor="let item of allItems" cdkDrag>
            <div *ngIf="section.id==item.id">
              <div *ngFor="let item of item.items" class="section mb-3 " style="background-color: white;">
                <div class="heading d-flex justify-content-between items align-items-center">
                  <h5 class="w-75">{{item.itemType}} : <span class="fw-medium">
                      <i *ngIf="item.itemType=='Lecture'" class="fa-regular fa-file"></i>
                      <i *ngIf="item.itemType=='Quiz'" class="fa-regular fa-circle-question"></i>
                      {{item.title}}</span></h5>
                  <button *ngIf="item.itemType=='Quiz' && !addQuestionBool" (click)="AddingQuestion(item.id)" class="btn btn-outline-primary">new
                    question</button>
                    <div *ngFor="let question of questions;let i=index">
                    <div *ngIf="item.id==question.id">
                      <button *ngIf="item.itemType=='Quiz' && !addQuestionBool && question.question.length>0"
                        class="btn btn-outline-primary ms-2" data-bs-toggle="modal" [attr.data-bs-target]="'#QuizModal'+ i">View Quiz</button>

                        <div class="modal fade" id="QuizModal{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Quiz: {{item.title}}</h1>

                              </div>
                              <div class="modal-body">
                                <div *ngFor="let question of question.question" class=" my-4 position-relative">
                                  <div class="position-absolute levels d-flex align-items-center">
                                    <a (click)="getupdateQuestion(question,question.quizId)" data-bs-dismiss="modal"><i class="fa-solid fa-pen-to-square edit me-2"></i></a>
                                    <a (click)="deleteQuestion(question.id)" data-bs-dismiss="modal"><i class="fa-solid fa-trash delete"></i></a>
                                  </div>

                                  <h6 style="
                                    width: 90%;margin-bottom: 5px;
                                ">Question :<strong>{{question.content}} ?</strong> </h6>
                                  <p class="position-relative mb-1" *ngFor="let answer of question.quizQuestionChoices"><span>option:</span> {{answer.content}}
                                    <span *ngIf="answer.isRight" class="text-success"> correct</span> <span *ngIf="!answer.isRight"
                                      (click)="deleteAnswer(answer.id)" class="x-mark position-absolute" data-bs-dismiss="modal" aria-label="Close"><i *ngIf="question.quizQuestionChoices.length>2"
                                        class="fa-solid fa-x"></i></span></p>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div></div>
                  <span class="fs-6 d-flex ms-2">
                    <a (click)="getLectureForUpdate(item.itemType,item.id,section.id)"><i
                        class="fa-solid fa-pen-to-square edit-item"></i></a>
                    <span class="m-3"></span>
                    <a (click)="deleteLecture(item.itemType,item.id)"><i class="fa-solid fa-trash delete-item"></i></a>
                  </span>
                </div>

                    <div class="qusetionForm">
                      <form
                        *ngIf="(addQuestionBool&&item.id==parentQuizId) || (updateQuestionBool&&item.id==parentQuizId)"
                        [formGroup]="AddQuestionForm" class=" quize w-75 mx-auto my-4">

                        <label for="questionText">Question:</label>
                        <input formControlName="content" type="text" id="questionText" name="questionText">
                        <p class="m-2 text-danger w-100 fs-5"
                          *ngIf="AddQuestionForm.get('content')?.touched && AddQuestionForm.get('content')?.getError('required')">
                          **Question content is required</p>
                        <br><br>

                        <label for="option1">Option 1:</label>
                        <input formControlName="correctAnswer" type="radio" id="option1" name="correctAnswer" value="option1">
                        <input formControlName="option1" type="text" id="option1Text" name="option1">
                        <textarea class="form-control my-2 mx-auto" id="option1Explanation" formControlName="clarification1" rows="2" cols="30"
                          placeholder="Explanation for Option 1"></textarea>
                        <p class="m-2 text-danger w-100 fs-5"
                          *ngIf="AddQuestionForm.get('option1')?.touched && AddQuestionForm.get('option1')?.getError('required')">
                          **First option is required</p>
                        <br><br>

                        <label for="option2">Option 2:</label>
                        <input formControlName="correctAnswer" type="radio" id="option2" name="correctAnswer" value="option2">
                        <input formControlName="option2" type="text" id="option2Text" name="option2">
                        <textarea class="form-control my-2 mx-auto" id="option2Explanation" formControlName="clarification2" rows="2" cols="30"
                          placeholder="Explanation for Option 2"></textarea>
                        <p class="m-2 text-danger w-100 fs-5"
                          *ngIf="AddQuestionForm.get('option2')?.touched && AddQuestionForm.get('option2')?.getError('required')">
                          **Second option is required</p>
                        <br><br>

                        <label for="option3">Option 3:</label>
                        <input formControlName="correctAnswer" type="radio" id="option3" name="correctAnswer" value="option3">
                        <input formControlName="option3" type="text" id="option3Text" name="option3">
                        <textarea class="form-control my-2 mx-auto" id="option3Explanation" formControlName="clarification3" rows="2" cols="30"
                          placeholder="Explanation for Option 3"></textarea>
                        <br><br>

                        <label for="option4">Option 4:</label>
                        <input formControlName="correctAnswer" type="radio" id="option4" name="correctAnswer" value="option4">
                        <input formControlName="option4" type="text" id="option4Text" name="option4">
                        <textarea class="form-control my-2 mx-auto" id="option4Explanation" formControlName="clarification4" rows="2" cols="30"
                          placeholder="Explanation for Option 4"></textarea>
                        <br><br>

                        <input type="hidden" id="correctAnswer" name="correctAnswer" value="option1">

                        <button *ngIf="addQuestionBool" (click)="addQuestion()" [disabled]="AddQuestionForm.invalid"
                          class="btn btn-primary d-block ms-auto">Save</button>
                        <button *ngIf="updateQuestionBool" (click)="updateQuestion()" [disabled]="AddQuestionForm.invalid"
                          class="btn btn-primary d-block ms-auto">Save</button>
                      </form>
                    </div>
              </div>
          </div>
          </div>
          <!-- items display -->

          <div *ngIf="addItemBool && parentSectionId ==section.id" class="d-flex justify-content-around mt-7">
          <div class="d-flex flex-column align-items-center"><img  (click)="addItemlecture()" class="iconItem" src="assets/images/lectureIcon.png" alt="">
          <span class="fs-4 fw-normal mt-3">Lecture</span>
          </div>
          <div class="d-flex flex-column"><img (click)="addItemQuiz()"  class="iconItem" src="assets/images/quizIcon.png" alt="">
          <span class="fs-4 fw-normal mt-3">Quiz</span>
          </div>
          </div>
          <!-- divfor lecture form start -->
          <div
            *ngIf="((addlectureBool && parentSectionId ==section.id)||(updatelectureBool && parentSectionId ==section.id))&& !addItemBool"
            id="lectureForm" class="section mb-3 px-15 pt-10" style="background-color: white;">
            <!-- lecture form -->
            <form [formGroup]="lectureForm">
              <!-- title input  -->
              <div class="w-100 d-flex align-items-center mb-5 flex-wrap">
                <label for="title" class="fs-4 fw-semibold  w-25 required">Title</label>
                <input class="input w-75" type="text" name="title" formControlName="title" />
                <div class="w-25"></div>
                <p *ngIf="lectureForm.get('title')?.touched&&lectureForm.get('title')?.getError('required')"
                  class="text-danger mt-2 fs-6 fw-medium">title is required</p>
              </div>

              <!-- title input  -->
              <!-- description input  -->
              <div class="w-100 d-flex align-items-center mb-5">

                <label for="description" class="fs-4 fw-semibold  w-25">Description</label>
                <textarea name="description" class="input w-75" rows="4" formControlName="description"></textarea>
              </div>
              <!-- description input  -->
              <!-- video input  -->
              <div class="w-100 d-flex align-items-center flex-wrap">
                <label for="video" class="fs-4 fw-semibold  w-25 required">video</label>
                <input name="video" class="input w-75 p-1" type="file" formControlName="video" (change)="onFileChange($event)">
                <div class="w-25"></div>
                <p *ngIf="lectureForm.get('video')?.touched&&lectureForm.get('video')?.getError('required')"
                  class="text-danger mt-2 fs-6 fw-medium">video is required</p>
              </div>
              <!-- video input  -->

              <!-- btn -->
              <button *ngIf="addlectureBool" (click)="addLecture()"
                class="btn btn-outline-primary d-block ms-auto my-4 fw-semibold" [disabled]="lectureForm.invalid">Save</button>
              <button *ngIf="updatelectureBool" (click)="updateLecture()"
                class="btn btn-outline-primary d-block ms-auto my-4 fw-semibold" [disabled]="lectureForm.invalid">Save</button>
              <!-- btn -->
            </form>
            <!-- lecture form -->
          </div>
          <!-- divfor lecture form end -->

          <!-- divfor quiz form start -->
          <div
            *ngIf="((addQuizBool && parentSectionId ==section.id)||(updateQuizBool && parentSectionId ==section.id))&& !addItemBool"
            id="lectureForm" class="section mb-3 px-15 pt-10" style="background-color: white;">
            <!-- quiz form -->
            <form [formGroup]="quizForm">
              <!-- title input  -->
              <div class="w-100 d-flex align-items-center mb-5 flex-wrap">
                <label for="title" class="fs-4 fw-semibold  w-25 required">Title</label>
                <input class="input w-75" type="text" name="title" formControlName="title" />
                <div class="w-25"></div>
                <p *ngIf="quizForm.get('title')?.touched&&quizForm.get('title')?.getError('required')"
                  class="text-danger mt-2 fs-6 fw-medium">title is required</p>
              </div>

              <!-- title input  -->
              <!-- description input  -->
              <div class="w-100 d-flex align-items-center mb-5">

                <label for="description" class="fs-4 fw-semibold  w-25">Description</label>
                <textarea name="description" class="input w-75" rows="4" formControlName="description"></textarea>
              </div>
              <!-- description input  -->
              <!-- img input  -->
              <div class="w-100 d-flex align-items-center flex-wrap">
                <label for="img" class="fs-4 fw-semibold  w-25 required">Picture</label>
                <input name="img" class="input w-75 p-1" type="file" formControlName="img" (change)="onFileChange($event)">
                <div class="w-25"></div>
                <p *ngIf="quizForm.get('img')?.touched&&quizForm.get('img')?.getError('required')"
                  class="text-danger mt-2 fs-6 fw-medium">Picture is required</p>
              </div>
              <!-- img input  -->

              <!-- btn -->
              <button *ngIf="addQuizBool" (click)="addQuiz()"
                class="btn btn-outline-primary d-block ms-auto my-4 fw-semibold" [disabled]="quizForm.invalid">Save</button>
              <button *ngIf="updateQuizBool" (click)="updateQuiz()"
                class="btn btn-outline-primary d-block ms-auto my-4 fw-semibold" [disabled]="quizForm.invalid">Save</button>
              <!-- btn -->
            </form>
            <!-- quiz form -->
          </div>
          <!-- divfor quiz form end -->
          <button (click)="displayItem(section.id)" *ngIf="!((addItemBool || addlectureBool || addQuizBool) && parentSectionId ==section.id)" class="btn btn-outline-primary fs-5 fw-semibold "><i
              class="fa-solid fa-plus"></i> Item</button>

        </div>
        <!-- item container end -->

      </div>
  </div>
    <!-- Display sections -->

    <div *ngIf="addSectionBool||updateSectionBool" id="sectionForm" class="section mb-3 px-15 pt-10" style="background-color: rgb(200, 223, 244);">
      <!-- section form -->
      <form [formGroup]="sectionForm" >
        <!-- title input  -->
        <div class="w-100 d-flex align-items-center mb-7 flex-wrap">
          <label for="title" class="fs-4 fw-semibold  w-25 required">Title</label>
          <input class="input w-75" type="text" name="title" formControlName="title"/>
          <div class="w-25"></div>
          <p *ngIf="sectionForm.get('title')?.touched&&sectionForm.get('title')?.getError('required')"
            class="text-danger mt-2 fs-6 fw-medium">title is required</p>
        </div>

        <!-- title input  -->
        <!-- objectives input  -->
        <div class="w-100 d-flex align-items-center">
          <label for="objectives" class="fs-4 fw-semibold  w-25">Objectives</label>
          <textarea name="objectives" class="input w-75" rows="4" formControlName="objectives"></textarea>
        </div>
        <!-- objectives input  -->

        <!-- btn -->
        <button *ngIf="addSectionBool" (click)="addSection()" type="submit" class="btn btn-outline-primary d-block ms-auto my-4 fw-semibold" [disabled]="sectionForm.invalid">Save</button>
        <button *ngIf="updateSectionBool" (click)="updateSection()" type="submit" class="btn btn-outline-primary d-block ms-auto my-4 fw-semibold" [disabled]="sectionForm.invalid">update</button>
        <!-- btn -->
      </form>
      <!-- section form -->
    </div>
  <button *ngIf="!addSectionBool&&!updateSectionBool" (click)="displaySectionForm()" class="btn btn-outline-primary fs-5 fw-semibold "><i class="fa-solid fa-plus"></i> section</button>
  </div>
  <!-- section end -->
</div>
<!-- curriculum end -->


</main>
