<!-- Dashboard Content Start -->
<div class="dashboard-content">

  <div class="container">
    <h4 class="dashboard-title">Settings</h4>

    <!-- Dashboard Settings Start -->
    <div class="dashboard-settings">

      <!-- Dashboard Tabs Start -->
      <div class="dashboard-tabs-menu">
        <ul>
          <li><a  routerLink="profile" routerLinkActive="active">Profile</a></li>
          <li><a routerLink="reset" routerLinkActive="active">Reset Password</a></li>
        </ul>
      </div>
      <!-- Dashboard Tabs End -->

      <router-outlet></router-outlet>
    </div>
    <!-- Dashboard Settings End -->
  </div>


</div>
<!-- Dashboard Content End -->
