<main class="main-wrapper">

  <!-- Page Banner Section Start -->
  <div class="page-banner bg-color-12">
    <div class="page-banner__wrapper">
      <div class="container">

        <!-- Page Breadcrumb Start -->
        <div class="page-breadcrumb">
          <ul class="breadcrumb breadcrumb-white">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/courses">courses</a></li>
            <li class="breadcrumb-item active">{{course?.title}}</li>
          </ul>
        </div>
        <!-- Page Breadcrumb End -->

      </div>
    </div>
  </div>
  <!-- Page Banner Section End -->



<!-- Tutor Course Top Info Start -->
<div class="tutor-course-top-info section-padding-01 bg-color-12">
  <div class="container custom-container">

    <div class="row">
      <div class="col-lg-8">

        <!-- Tutor Course Top Info Start -->
        <div class="tutor-course-top-info__content">
          <div class="tutor-course-top-info__badges">
            <span class="onsale">-39%</span>
            <a class="badges-category" >{{course?.subject}}</a>
          </div>
          <h1 class="tutor-course-top-info__title text-white">{{course?.title}}</h1>
          <div class="tutor-course-top-info__meta">
            <div class="tutor-course-top-info__meta-instructor">
              <div class="instructor-avatar">
                <img src="https://localhost:7264/{{course?.instructorPicture}}" alt="Instructor" width="36" height="36">
              </div>
              <div class="instructor-name text-white">{{course?.instructorName}}</div>
            </div>
            <div class="tutor-course-top-info__meta-update text-white">Last Update {{months[date.getMonth()]}} {{date.getDate()}}, {{date.getFullYear()}}</div>
          </div>
          <div class="tutor-course-top-info__meta">
            <div class="tutor-course-top-info__meta-rating">

              <div class="rating-average text-white"><strong>{{course?.rating}}</strong> /5</div>
              <div class="rating">
                <ng-container *ngFor="let star of getStarsArray(rate); let i = index">
                  <i *ngIf="star!=0" class="fa-solid fa-star" [ngClass]="{'fa-star-half-stroke': star === 0.5}" style="color: #FFD43B;"></i>
                </ng-container>
              </div>
              <div class="rating-count text-white-50">({{course?.reviews?.length}})</div>

            </div>
            <div class="tutor-course-top-info__meta-action text-white"><i class="meta-icon fas fa-user-alt"></i> {{course?.totalEnrolled}}
              already enrolled</div>
          </div>
        </div>
        <!-- Tutor Course Top Info End -->

      </div>
    </div>

  </div>
</div>
<!-- Tutor Course Top Info End -->

<!-- Tutor Course Main content Start -->
<div class="tutor-course-main-content section-padding-01 sticky-parent">
  <div class="container custom-container">

    <div class="row gy-10">
      <div class="col-lg-8">

        <!-- Tutor Course Main Segment Start -->
        <div class="tutor-course-main-segment">

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment">
            <h4 class="tutor-course-segment__title">Course Prerequisites</h4>

            <!-- Tutor Course Segment Prerequisites Start -->
            <div class="tutor-course-segment__prerequisites">
              <div class="tutor-course-segment__prerequisites-warning">
                <i class="fas fa-exclamation-triangle"></i>
                Please note that this course has the following prerequisites which must be completed before it can be
                accessed
              </div>
              <ul class="tutor-course-segment__prerequisites-list">
                <li *ngFor="let prereq of course?.prerequisites">
                  <a class="prerequisites-item">
                    <div class="prerequisites-item__thumbnail">
                      <img src="assets/images/courses/courses-36.jpg" alt="Courses" width="70" height="47">
                    </div>
                    <div class="prerequisites-item__title">
                      {{prereq}}
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Tutor Course Segment Prerequisites End -->

          </div>
          <!-- Tutor Course Segment End -->

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment">
            <h4 class="tutor-course-segment__title">About This Course</h4>

            <!-- Tutor Course Segment Content Wrapper Start -->
            <div class="tutor-course-segment__content-wrap">
              <p>In this course, I take you from the fundamentals and concepts of data modeling all the way through a
                number of best practices and techniques that you’ll need to build data models in your organization.
                You’ll find many examples that clearly demonstrate the key concepts and techniques covered throughout
                the course.</p>
              <p>By the end of the course, you’ll be all set to not only put these principles to work, but also to make
                the key data modeling and design decisions required by the “art” of data modeling that transcend the
                nuts-and-bolts techniques and design patterns.</p>
              <p>Organisations, or groups of organisations, may establish the need for master data management when they
                hold more than one copy of data about a business entity. Holding more than one copy of this master data
                inherently means that there is an inefficiency in maintaining a “single version of the truth” across all
                copies. Unless people, processes and technology are in place to ensure that the data values are kept
                aligned across all copies, it is almost inevitable that different versions of information about a
                business entity will be held.</p>
            </div>
            <!-- Tutor Course Segment Content Wrapper End -->

            <!-- Tutor Course Segment Tags Start -->
            <div class="tutor-course-segment__tags">
              <div class="tutor-course-segment__tags-title">
                <i class="fas  fa-tags"></i>
              </div>
              <div class="tutor-course-segment__tags-list">
                <a *ngFor="let tag of course?.tags" > {{tag}},</a>
              </div>
            </div>
            <!-- Tutor Course Segment Tags End -->

          </div>
          <!-- Tutor Course Segment End -->

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment benefits-wrap">
            <h4 class="tutor-course-segment__title">Learning Objectives</h4>

            <!-- Tutor Course Segment Benefits Items Start -->
            <div class="tutor-course-segment__benefits-items">

              <div *ngFor="let objective of LearningObjective"  class="tutor-course-segment__benefit-item">
                <div  class="tutor-course-segment__benefit-content">
                  <i class="fas fa-check"></i>
                  <span class="benefit-text">{{objective}}</span>
                </div>
              </div>

            </div>
            <!-- Tutor Course Segment Benefits Items End -->

          </div>
          <!-- Tutor Course Segment End -->

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment">
            <h4 class="tutor-course-segment__title">Requirements</h4>

            <!-- Tutor Course Segment Requirements Items Start -->
            <div class="tutor-course-segment__requirements-content">
              <ul class="tutor-course-segment__list-style-01">
                <li>Basic understanding of data management concepts and constructs such as relational database tables
                </li>
                <li>Know how different pieces of data logically relate to one another.</li>
              </ul>
            </div>
            <!-- Tutor Course Segment Requirements Items End -->
          </div>
          <!-- Tutor Course Segment End -->

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment audience-wrap">
            <h4 class="tutor-course-segment__title">Target Audience</h4>

            <!-- Tutor Course Segment Requirements Items Start -->
            <div class="tutor-course-segment__audience-content">
              <ul class="tutor-course-segment__list-style-02">
                <li>A business analyst</li>
                <li>Data engineer, or database designer</li>
                <li>Who desires to build a personal toolbox of data modeling best practices and techniques.</li>
              </ul>
            </div>
            <!-- Tutor Course Segment Requirements Items End -->
          </div>
          <!-- Tutor Course Segment End -->

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment">

            <div class="tutor-course-segment__header">
              <h4 class="tutor-course-segment__title">Curriculum</h4>

              <div class="tutor-course-segment__lessons-duration">
                <span class="tutor-course-segment__lessons">4 Lessons</span>
                <span class="tutor-course-segment__duration">15h 15m</span>
              </div>
            </div>

            <div class="course-curriculum accordion">
              <!--<button (click)="toggleParagraph(sec)" class="toggle-button">
                <span *ngIf="!sec.showParagraph" class="icon">+</span>
                <span *ngIf="sec.showParagraph" class="icon">-</span>
                Toggle {{ sec.title }}
              </button>-->

              <div *ngFor="let sec of sections" class="accordion-item">
                <button class="accordion-button" ngClass="{'collapsed':toggler}" (click)="toggleParagraph(sec)" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                  <span *ngIf="!sec.showParagraph" class="icon"><i  class="fa-solid fa-plus"></i>  </span>
                  <span *ngIf="sec.showParagraph" class="icon"><i  class="fa-solid fa-minus"></i>  </span>
                  {{sec.title}}</button>
                <div *ngIf="sec.showParagraph" id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionCourse">

                  <div class="course-curriculum__lessons">
                    <div *ngFor="let item of allItems">
                      <div *ngIf="sec.id==item.id">
                        <div *ngFor="let item of item.items" class="course-curriculum__lesson">
                          <span class="course-curriculum__title">
                            <i *ngIf="item.itemType=='Lecture'" class="fas fa-file-alt"></i>
                            <i *ngIf="item.itemType=='Quiz'" class="fas fa-question-circle"></i>
                            {{item.title}}
                          </span>
                          <span class="course-curriculum__icon">
                            <i class="fas fa-lock-alt"></i>
                          </span>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div>

          </div>
          <!-- Tutor Course Segment End -->

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment">
            <h4 class="tutor-course-segment__title">Your Instructors</h4>

            <div class="tutor-course-segment__instructor">
              <div class="tutor-instructor">
                <div class="tutor-instructor__avatar">
                  <img src="https://localhost:7264/{{course?.instructorPicture}}" alt="instructor" width="200" height="246">
                </div>
                <div class="tutor-instructor__instructor-info">
                  <h4 class="tutor-instructor__name">{{course?.instructorName}}</h4>
                  <div class="tutor-instructor__ratings">
                    <div class="rating-star">
                      <div class="rating-label" style="width: 90%;"></div>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- Tutor Course Segment End -->

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment">
            <h4 class="tutor-course-segment__title">Student Feedback</h4>

            <div class="tutor-course-segment__feedback">
              <div class="tutor-course-segment__reviews-average">
                <div class="count">{{course?.rating}}</div>
                <div class="rating">
                  <ng-container *ngFor="let star of getStarsArray(rate); let i = index">
                    <i *ngIf="star!=0" class="fa-solid fa-star" [ngClass]="{'fa-star-half-stroke': star === 0.5}" style="color: #FFD43B;"></i>
                  </ng-container>
                </div>
                <div class="rating-total">{{course?.reviews?.length}} Ratings</div>
              </div>

            </div>
          </div>
          <!-- Tutor Course Segment End -->

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment">
            <h4 class="tutor-course-segment__title">Reviews <span class="count">({{course?.reviews?.length}})</span></h4>

            <div class="tutor-course-segment__review-commnet">
              <ul class="comment-list-02">
                <li *ngFor="let review of course?.reviews;let i = index">
                  <div class="comment-item-02">
                    <div class="comment-item-02__header">
                      <div class="comment-item-02__author">
                        <img src="/assets/images/avatar/avatar-01.png" alt="Avatar" width="52" height="52">
                      </div>
                      <div class="comment-item-02__info">
                        <h6 class="comment-item-02__name"><a >{{review.studentName}}</a></h6>
                        <p class="comment-item-02__date">{{review.date.split('T')[0]}}</p>
                      </div>
                      <div class="icons d-flex justify-content-around">
                        <a (click)="getcomment(i,review.id)"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a (click)="Delete(review.id,{courseId:courseId,content:review.content,numberOfStars:review.numberOfStars})"><i class="fa-solid fa-xmark"></i></a>
                      </div>
                    </div>
                    <div class="comment-item-02__body">

                      <div *ngIf="issmaller(review.numberOfStars,1)">
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                      </div>
                      <div *ngIf="issmaller(review.numberOfStars,2)&&isgreaterequal(review.numberOfStars,1)">
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                      </div>
                      <div *ngIf="issmaller(review.numberOfStars,3)&&isgreaterequal(review.numberOfStars,2)">
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                      </div>
                      <div *ngIf="issmaller(review.numberOfStars,4)&&isgreaterequal(review.numberOfStars,3)">
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                      </div>
                      <div *ngIf="issmaller(review.numberOfStars,5)&&isgreaterequal(review.numberOfStars,4)">
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-regular fa-star" style="color: #fb0;"></i>
                      </div>
                      <div *ngIf="review.numberOfStars==5">
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                        <i class="fa-solid fa-star" style="color: #fb0;"></i>
                      </div>

                      <p>{{review.content}}</p>

                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Tutor Course Segment End -->

          <!-- Tutor Course Segment Start -->
          <div class="tutor-course-segment">
            <h4 class="tutor-course-segment__title">Write a review</h4>

            <div class="tutor-course-segment__reviews">
              <button (click)="slidedown()" class="tutor-course-segment__btn btn btn-primary btn-hover-secondary" >Write a review</button> <a id="closebtn" class="ms-3 fs-4" ><i  class="fa-solid fa-xmark"></i></a>

              <div class="" id="collapseForm">
                <!-- Comment Form Start -->
                <div class="comment-form">
                  <form [formGroup]="AddcommentForm" (ngSubmit)="addcomment()">
                    <div class="comment-form__rating">
                      <label class="label">Your rating <span class="fw-lighter">(click twice to approve) </span>: *</label>
                      <div class="ratingstar">
                        <input  formControlName="rating" value="5" name="rating" id="star5" type="radio">
                        <label for="star5"></label>
                        <input  formControlName="rating" value="4" name="rating" id="star4" type="radio">
                        <label for="star4"></label>
                        <input  formControlName="rating" value="3" name="rating" id="star3" type="radio">
                        <label for="star3"></label>
                        <input  formControlName="rating" value="2" name="rating" id="star2" type="radio">
                        <label for="star2"></label>
                        <input  formControlName="rating" value="1" name="rating" id="star1" type="radio">
                        <label for="star1"></label>
                      </div>

                    </div>
                    <div class="row gy-4">

                      <div class="col-md-12">
                        <div class="comment-form__input">
                          <textarea formControlName="Comment" class="form-control" placeholder="Your Comment"></textarea>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="comment-form__input">
                          <button *ngIf="!updatecommentbool" type="submit" class="btn btn-primary btn-hover-secondary">Submit</button>
                        </div>

                      </div>
                    </div>
                  </form>
                    <div (click)="updatecomment()" class="comment-form__input">
                      <button *ngIf="updatecommentbool" class="btn btn-primary btn-hover-secondary">Update</button>
                    </div>
                </div>
                <!-- Comment Form End -->
              </div>
            </div>
          </div>
          <!-- Tutor Course Segment End -->

        </div>
        <!-- Tutor Course Main Segment End -->

      </div>
      <div class="col-lg-4">

        <div class="sidebar-sticky">
          <!-- Tutor Course Sidebar Start -->
          <div class="tutor-course-sidebar">

            <!-- Tutor Course Price Preview Start -->
            <div class="tutor-course-price-preview">
              <div class="tutor-course-price-preview__thumbnail">
                <div class="ratio ratio-16x9">
                  <iframe src="https://www.youtube.com/embed/tXr3wCyBE9I" title="YouTube video"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="tutor-course-price-preview__price">
                <div class="tutor-course-price">
                  <span class="sale-price">${{course?.price}}<span class="separator">.00</span></span>
                  <span class="regular-price">$76<span class="separator">.00</span></span>
                </div>
                <div class="tutor-course-price-badge">39% off</div>
              </div>
              <div class="tutor-course-price-preview__meta">
                <ul class="tutor-course-meta-list">
                  <li>
                    <div class="label"><i class="fas fa-sliders-h"></i> Level </div>
                    <div class="value">{{levels[course?.level!]}}</div>
                  </li>
                  <li>
                    <div class="label"><i class="fas fa-clock"></i> Duration </div>
                    <div class="value">{{course?.duration}} hours</div>
                  </li>
                  <li>
                    <div class="label"><i class="fas fa-play-circle"></i> Lectures </div>
                    <div class="value">{{course?.numberOfLectures}} lectures</div>
                  </li>
                  <li>
                    <div class="label"><i class="fas fa-tag"></i> Subject </div>
                    <div class="value"><a href="#">{{course?.subject}}</a></div>
                  </li>
                  <li>
                    <div class="label"><i class="fas fa-globe"></i> Language </div>
                    <div class="value">{{course?.language}}</div>
                  </li>
                </ul>
              </div>
              <div class="tutor-course-segment">
                <h4 class="tutor-course-segment__title">Material Includes</h4>

                <ul class="tutor-course-segment__list-style-01">
                  <li>Videos</li>
                  <li>Booklets</li>
                </ul>
              </div>
              <div class="tutor-course-price-preview__btn">
                <button (click)="AddCourseToCart()" *ngIf="!CourseAddedSuccessfully && !isEnrolled && userCourseUserName != instructorCourseUserName" class="btn btn-primary btn-hover-secondary w-100"> <i class="fas fa-shopping-basket"></i> Add to
                  cart </button>
                <button class="btn btn-primary btn-hover-secondary w-100" *ngIf="CourseAddedSuccessfully&& !isEnrolled && userCourseUserName != instructorCourseUserName">Course Added Successfully</button>
                <button class="btn btn-primary btn-hover-secondary w-100" routerLink="/wcourse/{{courseId}}/notes" *ngIf="isEnrolled && userCourseUserName != instructorCourseUserName">Go to Course</button>
                <button class="btn btn-primary btn-hover-secondary w-100" routerLink="/curriculum/{{courseId}}" *ngIf=" userCourseUserName == instructorCourseUserName">Go to curriculum</button>
              </div>
              <div class="tutor-course-price-preview__social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-tumblr"></i></a>
              </div>
            </div>
            <!-- Tutor Course Price Preview End -->

            <!-- Sidebar Widget Start -->
            <div class="sidebar-widget">
              <h3 class="sidebar-widget__title">Course categories</h3>

              <ul class="sidebar-widget__link">
                <li><a href="#">Art & Design</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Data Science</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Finance</a></li>
                <li><a href="#">Health & Fitness</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Personal Development</a></li>
                <li><a href="#">Photography</a></li>
                <li><a href="#">Teaching & Academics</a></li>
              </ul>
            </div>
            <!-- Sidebar Widget End -->

            <!-- Sidebar Widget Start -->
            <div class="sidebar-widget">
              <h3 class="sidebar-widget__title">Related Courses</h3>

              <div class="sidebar-widget__course">



                <div *ngFor="let course of RecommendedCourses">
                  <div class="sidebar-widget__course-item mb-3">
                    <div class="sidebar-widget__course-thumbnail">
                      <a routerLink="/course/{{course.id}}"><img src="{{course.thumbnailUrl}}" alt="Courses" width="120"
                          height="72"></a>
                    </div>
                    <div class="sidebar-widget__course-content">
                      <h4 class="sidebar-widget__course-title"><a routerLink="/course/{{course.id}}"> {{course.title}}</a></h4>
                      <p class="lead  mb-1" style="font-size: 13px;">{{course.instructorName}}</p>
                      <div class="sidebar-widget__course-price">
                        <span class="sale-price">${{course.price}}<span class="separator">.00</span></span>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
            <!-- Sidebar Widget End -->

          </div>
          <!-- Tutor Course Sidebar End -->
        </div>

      </div>
    </div>

  </div>
</div>
<!-- Tutor Course Main content End -->

<!-- Footer Start -->
<div class="footer-section bg-color-10">

  <!-- Footer Widget Area Start -->
  <div class="footer-widget-area section-padding-01">
    <div class="container">
      <div class="row gy-6">

        <div class="col-md-4">
          <!-- Footer Widget Start -->
          <div class="footer-widget">
            <a href="#" class="footer-widget__logo"><img src="assets/images/dark-logo.png" alt="Logo" width="150"
                height="32"></a>

            <div class="footer-widget__info">
              <span class="title">Call us</span>
              <span class="number">800 388 80 90</span>
            </div>
            <div class="footer-widget__info">
              <p>58 Howard Street #2 San Francisco</p>
              <p>contact@edumall.com</p>
            </div>

            <div class="footer-widget__social-02">
              <a class="twitter" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
              <a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="skype" href="#" target="_blank"><i class="fab fa-skype"></i></a>
              <a class="youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
              <a class="linkedin" href="https://www.linkedin.com/" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <!-- Footer Widget End -->
        </div>

        <div class="col-md-8">
          <div class="row gy-6">

            <div class="col-sm-4">
              <!-- Footer Widget Start -->
              <div class="footer-widget">
                <h4 class="footer-widget__title">About</h4>

                <ul class="footer-widget__link">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="course-grid-left-sidebar.html">Courses</a></li>
                  <li><a href="instructors.html">Instructor</a></li>
                  <li><a href="event-grid-sidebar.html">Events</a></li>
                  <li><a href="become-an-instructor.html">Become A Teacher</a></li>
                </ul>
              </div>
              <!-- Footer Widget End -->
            </div>
            <div class="col-sm-4">
              <!-- Footer Widget Start -->
              <div class="footer-widget">
                <h4 class="footer-widget__title">Links</h4>

                <ul class="footer-widget__link">
                  <li><a href="blog-grid-left-sidebar.html">News & Blogs</a></li>
                  <li><a href="#">Library</a></li>
                  <li><a href="#">Gallery</a></li>
                  <li><a href="#">Partners</a></li>
                  <li><a href="#">Career</a></li>
                </ul>
              </div>
              <!-- Footer Widget End -->
            </div>
            <div class="col-sm-4">
              <!-- Footer Widget Start -->
              <div class="footer-widget">
                <h4 class="footer-widget__title">Support</h4>

                <ul class="footer-widget__link">
                  <li><a href="#">Documentation</a></li>
                  <li><a href="faqs.html">FAQs</a></li>
                  <li><a href="#">Forum</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>
              <!-- Footer Widget End -->
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Footer Widget Area End -->

  <!-- Footer Copyright Area End -->
  <div class="footer-copyright">
    <div class="container">
      <div class="copyright-wrapper text-center">
        <ul class="footer-widget__link flex-row gap-8 justify-content-center">
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="footer-widget__copyright mt-0">&copy; 2023 <span> EduMall </span> Made with <i
            class="fa fa-heart"></i> by <a
            href="https://1.envato.market/c/417168/275988/4415?subId1=hastheme&subId2=demo&subId3=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio&u=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio">BootXperts</a>
        </p>
      </div>
    </div>
  </div>
  <!-- Footer Copyright Area End -->

</div>
<!-- Footer End -->

<!--Back To Start-->
<button id="backBtn" class="back-to-top backBtn">
  <i class="arrow-top fas fa-arrow-up"></i>
  <i class="arrow-bottom fas fa-arrow-up"></i>
</button>
<!--Back To End-->
</main>
