<!-- Dashboard Content Start -->
<div class="dashboard-content">

  <div class="container">
    <h4 class="dashboard-title">My Students</h4>

    <!-- Dashboard Students Start -->
    <div class="dashboard-students">
      <div class="dashboard-table table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="student">Student</th>
              <th class="courses">Course</th>
              <th class="action">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="dashboard-table__student-info">
                  <div class="dashboard-table__student-avatar">
                    <img src="assets/images/avatar/avatar-04.png" alt="Avatar">
                  </div>
                  <div class="dashboard-table__title">
                    <span class="name">Adeniyi David</span>
                    <span class="date">1 week ago</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Course</div>
                <div class="dashboard-table__text">Photography</div>
              </td>
              <td>
                <div class="dashboard-table__text">
                  <a class="assignment-link" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="dashboard-table__student-info">
                  <div class="dashboard-table__student-avatar">
                    <img src="assets/images/avatar/avatar-02.png" alt="Avatar">
                  </div>
                  <div class="dashboard-table__title">
                    <span class="name">Mohamed Zumry</span>
                    <span class="date">1 week ago</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Course</div>
                <div class="dashboard-table__text">Consulting Approach to Problem Solving</div>
              </td>
              <td>
                <div class="dashboard-table__text">
                  <a class="assignment-link" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="dashboard-table__student-info">
                  <div class="dashboard-table__student-avatar">
                    <img src="assets/images/avatar/avatar-01.png" alt="Avatar">
                  </div>
                  <div class="dashboard-table__title">
                    <span class="name">multaqatech Website</span>
                    <span class="date">1 week ago</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="dashboard-table__mobile-heading">Course</div>
                <div class="dashboard-table__text">Time Management Mastery: Do More, Stress Less</div>
              </td>
              <td>
                <div class="dashboard-table__text">
                  <a class="assignment-link" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Dashboard Students End -->
  </div>


</div>
<!-- Dashboard Content End -->
