<!-- Dashboard Content Start -->
<div class="dashboard-content position-relative">

  <div class="container">
    <h4 class="dashboard-title">My Courses</h4>

    <div class="subject-input">
      <div class="d-flex align-items-center ms-auto"><span class="text">Add subject</span><a data-bs-toggle="modal" data-bs-target="#AddModal" ><i class="fa-solid fa-circle-plus ms-3 fs-1"></i></a></div>

    </div>

    <!-- Dashboard My Courses Start -->
    <div class="dashboard-courses">
      <!-- Dashboard Course Item Start -->
      <div class="dashboard-courses__item">
        <div class="dashboard-courses__thumbnail">
          <a href="course-single-layout-01.html"><img src="assets/images/courses/courses-32.jpg" alt="Courses"
              width="260" height="174"></a>
        </div>
        <div class="dashboard-courses__content">
          <div class="dashboard-courses__rating">
            <div class="rating-star">
              <div class="rating-label" style="width: 0%;"></div>
            </div>
            <span>(0)</span>
          </div>
          <h3 class="dashboard-courses__title"><a href="course-single-layout-01.html">Photography</a></h3>
          <ul class="dashboard-courses__meta">
            <li>
              <span class="meta-label">Status:</span>
              <span class="meta-value">Pending</span>
            </li>
            <li>
              <span class="meta-label">Duration:</span>
              <span class="meta-value">1h 5m </span>
            </li>
            <li>
              <span class="meta-label">Students:</span>
              <span class="meta-value">0</span>
            </li>
          </ul>
          <div class="dashboard-courses__footer">
            <div class="dashboard-courses__price">
              <span class="sale-price">$100.<small class="separator">00</small></span>
            </div>
            <div class="dashboard-courses__action">
              <a class="action" href="#"><i class="fas  fa-pencil-alt"></i> Edit</a>
              <a class="action delete" href="#"><i class="fas  fa-trash-alt"></i> Delete</a>
              <a class="action" href="#"><i class="fas  fa-clone"></i> Duplicate</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Dashboard Course Item End -->

      <!-- Dashboard Course Item Start -->
      <div class="dashboard-courses__item">
        <div class="dashboard-courses__thumbnail">
          <a href="course-single-layout-01.html"><img src="assets/images/courses/courses-6.jpg" alt="Courses"
              width="260" height="174"></a>
        </div>
        <div class="dashboard-courses__content">
          <div class="dashboard-courses__rating">
            <div class="rating-star">
              <div class="rating-label" style="width: 60%;"></div>
            </div>
            <span>(8)</span>
          </div>
          <h3 class="dashboard-courses__title"><a href="course-single-layout-01.html">ENV 101: Introduction to
              Environmental Science</a></h3>
          <ul class="dashboard-courses__meta">
            <li>
              <span class="meta-label">Status:</span>
              <span class="meta-value">Draft</span>
            </li>
            <li>
              <span class="meta-label">Duration:</span>
              <span class="meta-value">2h 10m </span>
            </li>
            <li>
              <span class="meta-label">Students:</span>
              <span class="meta-value">5</span>
            </li>
          </ul>
          <div class="dashboard-courses__footer">
            <div class="dashboard-courses__price">
              <span class="sale-price">$100.<small class="separator">00</small></span>
            </div>
            <div class="dashboard-courses__action">
              <a class="action" href="#"><i class="fas  fa-pencil-alt"></i> Edit</a>
              <a class="action delete" href="#"><i class="fas  fa-trash-alt"></i> Delete</a>
              <a class="action" href="#"><i class="fas  fa-clone"></i> Duplicate</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Dashboard Course Item End -->

      <!-- Dashboard Course Item Start -->
      <div class="dashboard-courses__item">
        <div class="dashboard-courses__thumbnail">
          <a href="course-single-layout-01.html"><img src="assets/images/courses/courses-2.jpg" alt="Courses"
              width="260" height="174"></a>
        </div>
        <div class="dashboard-courses__content">
          <div class="dashboard-courses__rating">
            <div class="rating-star">
              <div class="rating-label" style="width: 20%;"></div>
            </div>
            <span>(4)</span>
          </div>
          <h3 class="dashboard-courses__title"><a href="course-single-layout-01.html">Time Management Mastery: Do More,
              Stress Less</a></h3>
          <ul class="dashboard-courses__meta">
            <li>
              <span class="meta-label">Status:</span>
              <span class="meta-value">Draft</span>
            </li>
            <li>
              <span class="meta-label">Duration:</span>
              <span class="meta-value">1h 50m </span>
            </li>
            <li>
              <span class="meta-label">Students:</span>
              <span class="meta-value">1</span>
            </li>
          </ul>
          <div class="dashboard-courses__footer">
            <div class="dashboard-courses__price">
              <span class="sale-price">$120.<small class="separator">00</small></span>
            </div>
            <div class="dashboard-courses__action">
              <a class="action" href="#"><i class="fas  fa-pencil-alt"></i> Edit</a>
              <a class="action delete" href="#"><i class="fas  fa-trash-alt"></i> Delete</a>
              <a class="action" href="#"><i class="fas  fa-clone"></i> Duplicate</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Dashboard Course Item End -->

      <!-- Dashboard Course Item Start -->
      <div class="dashboard-courses__item">
        <div class="dashboard-courses__thumbnail">
          <a href="course-single-layout-01.html"><img src="assets/images/courses/courses-32.jpg" alt="Courses"
              width="260" height="174"></a>
        </div>
        <div class="dashboard-courses__content">
          <div class="dashboard-courses__rating">
            <div class="rating-star">
              <div class="rating-label" style="width: 80%;"></div>
            </div>
            <span>(2)</span>
          </div>
          <h3 class="dashboard-courses__title"><a href="course-single-layout-01.html">Successful Negotiation: Master
              Your Negotiating Skills</a></h3>
          <ul class="dashboard-courses__meta">
            <li>
              <span class="meta-label">Status:</span>
              <span class="meta-value">Draft</span>
            </li>
            <li>
              <span class="meta-label">Duration:</span>
              <span class="meta-value">50m </span>
            </li>
            <li>
              <span class="meta-label">Students:</span>
              <span class="meta-value">15</span>
            </li>
          </ul>
          <div class="dashboard-courses__footer">
            <div class="dashboard-courses__price">
              <span class="free">Free</span>
            </div>
            <div class="dashboard-courses__action">
              <a class="action" href="#"><i class="fas  fa-pencil-alt"></i> Edit</a>
              <a class="action delete" href="#"><i class="fas  fa-trash-alt"></i> Delete</a>
              <a class="action" href="#"><i class="fas  fa-clone"></i> Duplicate</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Dashboard Course Item End -->

      <!-- Dashboard Course Item Start -->
      <div class="dashboard-courses__item">
        <div class="dashboard-courses__thumbnail">
          <a href="course-single-layout-01.html"><img src="assets/images/courses/courses-3.jpg" alt="Courses"
              width="260" height="174"></a>
        </div>
        <div class="dashboard-courses__content">
          <div class="dashboard-courses__rating">
            <div class="rating-star">
              <div class="rating-label" style="width: 0%;"></div>
            </div>
            <span>(0)</span>
          </div>
          <h3 class="dashboard-courses__title"><a href="course-single-layout-01.html">Time Management Mastery: Do More,
              Stress Less</a></h3>
          <ul class="dashboard-courses__meta">
            <li>
              <span class="meta-label">Status:</span>
              <span class="meta-value">Pending</span>
            </li>
            <li>
              <span class="meta-label">Duration:</span>
              <span class="meta-value">2h 5m </span>
            </li>
            <li>
              <span class="meta-label">Students:</span>
              <span class="meta-value">0</span>
            </li>
          </ul>
          <div class="dashboard-courses__footer">
            <div class="dashboard-courses__price">
              <span class="sale-price">$80.<small class="separator">00</small></span>
            </div>
            <div class="dashboard-courses__action">
              <a class="action" href="#"><i class="fas  fa-pencil-alt"></i> Edit</a>
              <a class="action delete" href="#"><i class="fas  fa-trash-alt"></i> Delete</a>
              <a class="action" href="#"><i class="fas  fa-clone"></i> Duplicate</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Dashboard Course Item End -->

      <!-- Dashboard Course Item Start -->
      <div class="dashboard-courses__item">
        <div class="dashboard-courses__thumbnail">
          <a href="course-single-layout-01.html"><img src="assets/images/courses/courses-33.jpg" alt="Courses"
              width="260" height="174"></a>
        </div>
        <div class="dashboard-courses__content">
          <div class="dashboard-courses__rating">
            <div class="rating-star">
              <div class="rating-label" style="width: 80%;"></div>
            </div>
            <span>(3)</span>
          </div>
          <h3 class="dashboard-courses__title"><a href="course-single-layout-01.html">Boost Your Productivity: Adapt,
              Improve, Do!</a></h3>
          <ul class="dashboard-courses__meta">
            <li>
              <span class="meta-label">Status:</span>
              <span class="meta-value">Draft</span>
            </li>
            <li>
              <span class="meta-label">Duration:</span>
              <span class="meta-value">2h 30m </span>
            </li>
            <li>
              <span class="meta-label">Students:</span>
              <span class="meta-value">8</span>
            </li>
          </ul>
          <div class="dashboard-courses__footer">
            <div class="dashboard-courses__price">
              <span class="sale-price">$99.<small class="separator">00</small></span>
            </div>
            <div class="dashboard-courses__action">
              <a class="action" href="#"><i class="fas  fa-pencil-alt"></i> Edit</a>
              <a class="action delete" href="#"><i class="fas  fa-trash-alt"></i> Delete</a>
              <a class="action" href="#"><i class="fas  fa-clone"></i> Duplicate</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Dashboard Course Item End -->
    </div>
    <!-- Dashboard My Courses End -->




<!-- popup Add subject -->

<div class="modal fade" id="AddModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Add subject</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <div class="input subjectinput">
            <input [ngClass]="{'is-valid':subjectsucess,'is-invalid':subjectfail}" class="form-control" type="text"
              required="" autocomplete="off" [formControl]="subjectInput">
            <label for="name">Subject</label>
          </div>
          <div class="wrapper ms-2">
            <a data-tooltip-content="show subjects" (click)="toggleFade('currentSubjects','AddModal')" class="data-tooltip"  data-bs-target="#currentSubjects"
              data-bs-toggle="modal" data-bs-dismiss="modal">
              <i class="fa-solid fa-info p-0"></i>
            </a>
          </div>
        </div>
        <p class="mt-0 mb-2 ms-1" [ngClass]="{'text-success':subjectsucess,'text-danger':subjectfail}">{{subjectmsg}}
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary rounded-5" (click)="add()">Save changes</button>

      </div>
    </div>
  </div>
</div>
<!-- popup Add subject -->

  <!-- pop up current subjects -->
  <div class="modal fade" id="currentSubjects" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Current Subjects</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <div  *ngFor="let sub of subjects" class="fw-semibold my-5 d-flex align-items-center justify-content-around"><span class="d-block w-75">{{sub.name}}</span><a class="x-mark" (click)="deleteSubject(sub.id!)"><i class="fa-solid fa-circle-xmark"></i></a></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary rounded-5" (click)="toggleFade('AddModal','currentSubjects')"  data-bs-target="#AddModal"
            data-bs-toggle="modal" data-bs-dismiss="modal">Add subjects</button>
        </div>
      </div>
    </div>
  </div>
  <!-- pop up current subjects -->

  </div>












</div>
<!-- Dashboard Content End -->
