

  <!-- 404 Page Start -->
  <div class="404-page-section section-padding-01">
    <div class="container custom-container">

      <div class="error-page text-center">

        <div class="error-page__logo">
          <a routerLink="/welcome"><img src="assets/images/dark-logo.png" alt="Logo"></a>
        </div>

        <div class="error-page__image">
          <img src="assets/images/page-404-image.png" alt="Error" width="699" height="380">
        </div>

        <div class="error-page__content">
          <h2 class="error-page__title">Oops! That page can't be found.</h2>
          <p class="error-page__text">It looks like nothing was found at this location. Maybe try one of the links below
            or a search?</p>
          <div class="error-page__btn">
            <a routerLink="/welcome" class="btn btn-primary btn-hover-secondary"><i class="fas fa-home"></i> Go back to
              homepage</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- 404 Page End -->



