<div class="p-7">
  <div class="d-flex align-items-center mb-5">
    <h1>Quiz Generator :- </h1>
    <div *ngIf="loading" class="ms-2">
      <div class="loader"></div>
    </div>
  </div>
  <div id="app">
    <div id="inputSection" style="display: block;">
      <textarea id="quizText" placeholder="Paste or type your quiz text here..."></textarea>
      <button (click)="generateQuiz()">Generate Quiz</button>
    </div>

    <div>
      <div id="quizSection" class="quiz-section">
      </div>

      <div id="submitQuiz">
        <button (click)="submitQuiz()">Submit Quiz</button>
      </div>
    </div>
  </div>

</div>
