<section class="p-3" style="min-height: 250px;">

  <div class="p-7 position-relative">
    <div class="d-flex mb-2 ">
      <h5 class="me-4" *ngIf="temp.length == 0" >Quiz :</h5>
      <h5 *ngIf="cannotload">Can't load Quiz</h5>
      <div>
        <div *ngIf="temp.length == 0 && !cannotload" class="loader"></div>
      </div>
        <div *ngIf="temp.length != 0 && !cannotload" >

          <div  *ngFor="let item of temp">
            <p class="p-2">{{item}}</p>
          </div>
        </div>
      </div>
  </div>
</section>

